In [1]:
import numpy as np
import pandas as pd
from IPython.display import display
pd.options.display.max_columns = 50
%matplotlib inline
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [2]:
df = pd.read_csv("data1.csv")

In [3]:
df.head()

,Hour,Minute,Second,ABRK,ELEV_1,ELEV_2,FGC3,FLAP,FQTY_1,FQTY_2,FQTY_4,GLS,HDGS,HYDG,HYDY,ILSF,LATP,LMOD,LOC,LONP,MNS,MRK,MW,N1CO,OIPL,...,VRTG_Mean,VRTG_Min,VRTG_Max,CTAC_Mean,CTAC_Min,CTAC_Max,FPAC_Mean,FPAC_Min,FPAC_Max,IVV_Mean,IVV_Min,IVV_Max,ACMT,AIL_1,AIL_2,ALTS,APFD,BLV,BPGR_2,BPYR_1,CASS,CRSS,DWPT,EAI,FF
0,9,44,54,60.102535,23.217812,59.964417,120,95,7880,1624,7880,-0.01560,-160.047697,0,0,2172005,35.395546,12,-0.372596,-97.597042,207,7,0,1,0,...,0.986689,0.976389,0.996990,-0.000855,-0.000977,0.000000,0.002320,0.000977,0.003908,-0.6875,-3,2,67,87.521339,85.107300,5000,2,0,43.945423,58.593899,135.0,-4.042936,18832,0,0
1,9,44,55,60.087887,23.217812,59.964417,120,94,7888,1624,7880,0.01911,-160.047697,0,0,2172005,35.395546,12,-0.358484,-97.597042,207,7,0,1,0,...,0.988120,0.960366,1.019880,-0.000977,-0.001954,0.000000,0.002259,0.000977,0.006839,0.0625,-9,10,67,87.746384,84.841339,5000,2,0,43.945423,58.593899,135.0,-4.042936,18832,0,0
2,9,44,56,60.102535,23.258728,59.984871,120,95,7888,1632,7880,-0.00390,-160.047697,0,0,2172005,35.395546,12,-0.370048,-97.597042,207,7,0,1,0,...,0.993843,0.971811,1.017591,-0.000794,-0.000977,0.000000,0.002198,0.000977,0.003908,0.6875,-3,7,66,88.360123,85.496002,5000,2,0,43.945423,58.593899,135.0,-4.042936,18832,0,0
3,9,44,57,60.102535,23.258728,59.943958,120,95,7888,1624,7880,-0.01404,-160.047697,0,0,2172005,35.395546,12,-0.371028,-97.597042,207,7,0,1,0,...,0.986689,0.976389,1.006146,-0.000366,-0.001954,0.000977,0.002137,0.000977,0.003908,0.0625,-4,6,67,88.298744,85.516457,5000,2,0,43.945423,58.593899,135.0,-4.042936,18832,0,0
4,9,44,58,60.131832,23.238266,59.964417,120,94,7888,1624,7880,-0.00234,-160.047697,0,0,2172005,35.395546,12,-0.341432,-97.597042,207,7,0,1,0,...,0.992698,0.953499,1.019880,-0.000366,-0.001954,0.000977,0.001710,0.000000,0.002931,0.1875,-9,6,66,88.237366,85.516457,5000,2,0,43.945423,58.593899,135.0,-4.042936,18832,0,0

In [4]:
# One of ways to find unique value count of all the features
n = df.apply(lambda x: len(x.unique()))

In [5]:
df.select_dtypes(include=['number']).nunique()

Hour            3
Minute         60
Second         60
ABRK           51
ELEV_1       1163
ELEV_2        907
FGC3           13
FLAP           75
FQTY_1        497
FQTY_2        194
FQTY_4        488
GLS          1568
HDGS           54
HYDG            2
HYDY            2
ILSF            3
LATP         6157
LMOD            6
LOC          2406
LONP         5927
MNS           389
MRK             2
MW              1
N1CO            2
OIPL            5
OIT_1          45
OIT_2          49
OIT_3          51
OIT_4          45
PACK            4
             ...
RALT_Min      484
RALT_Max      481
ROLL_Mean    3358
ROLL_Min      884
ROLL_Max      881
VRTG_Mean    1879
VRTG_Min      152
VRTG_Max      154
CTAC_Mean    3758
CTAC_Min      490
CTAC_Max      487
FPAC_Mean    2403
FPAC_Min      228
FPAC_Max      231
IVV_Mean     4358
IVV_Min      1996
IVV_Max      2005
ACMT           16
AIL_1         544
AIL_2         302
ALTS           23
APFD            3
BLV             5
BPGR_2         13
BPYR_1        156
CASS          226
CRSS           20
DWPT         3608
EAI             5
FF           1977
Length: 187, dtype: int64

In [6]:
df_cat=df.loc[:, df.select_dtypes(include=['number']).nunique()==3].head(3)

In [7]:
df_cat.head()

   Hour     ILSF  MSQT_1_Mean  MSQT_2_Mean  SHKR_Mean  APFD
0     9  2172005          0.0          0.0        0.5     2
1     9  2172005          0.0          0.0        0.5     2
2     9  2172005          0.0          0.0        0.5     2

In [9]:
list(df_cat)

['Hour', 'ILSF', 'MSQT_1_Mean', 'MSQT_2_Mean', 'SHKR_Mean', 'APFD']

In [10]:
col = list(df_cat)

In [11]:
#Create a dict. object 'd' to store all dummy variable data frames
d = {name: pd.get_dummies(df[name], prefix=name) for name in col}

In [12]:
#deleting last column of each dataframe to remove multi-collinearity
for i in range(len(col)-1):
  d[col[i]].drop(d[col[i]].columns[d[col[i]].shape[1]-1], axis=1, inplace=True)

In [13]:
#Concat all dummy data frames
d = pd.concat(d, axis=1)

In [14]:
#Remove categorical variables from the training dataset
df.drop(col, axis=1, inplace=True)

In [15]:
#Concatenate all the dummy variables to the training data set and store into a new data frame
df_model = pd.concat([df, d], axis=1)

In [16]:
df_model.head()

,Minute,Second,ABRK,ELEV_1,ELEV_2,FGC3,FLAP,FQTY_1,FQTY_2,FQTY_4,GLS,HDGS,HYDG,HYDY,LATP,LMOD,LOC,LONP,MNS,MRK,MW,N1CO,OIPL,OIT_1,OIT_2,...,ACMT,AIL_1,AIL_2,ALTS,BLV,BPGR_2,BPYR_1,CASS,CRSS,DWPT,EAI,FF,"(APFD, APFD_0)","(APFD, APFD_1)","(APFD, APFD_2)","(Hour, Hour_9)","(Hour, Hour_10)","(ILSF, ILSF_2124901)","(ILSF, ILSF_2157669)","(MSQT_1_Mean, MSQT_1_Mean_0.0)","(MSQT_1_Mean, MSQT_1_Mean_0.5)","(MSQT_2_Mean, MSQT_2_Mean_0.0)","(MSQT_2_Mean, MSQT_2_Mean_0.5)","(SHKR_Mean, SHKR_Mean_0.0)","(SHKR_Mean, SHKR_Mean_0.5)"
0,44,54,60.102535,23.217812,59.964417,120,95,7880,1624,7880,-0.01560,-160.047697,0,0,35.395546,12,-0.372596,-97.597042,207,7,0,1,0,53.222992,53.222992,...,67,87.521339,85.107300,5000,0,43.945423,58.593899,135.0,-4.042936,18832,0,0,0,0,1,1,0,0,0,1,0,1,0,0,1
1,44,55,60.087887,23.217812,59.964417,120,94,7888,1624,7880,0.01911,-160.047697,0,0,35.395546,12,-0.358484,-97.597042,207,7,0,1,0,53.222992,53.222992,...,67,87.746384,84.841339,5000,0,43.945423,58.593899,135.0,-4.042936,18832,0,0,0,0,1,1,0,0,0,1,0,1,0,0,1
2,44,56,60.102535,23.258728,59.984871,120,95,7888,1632,7880,-0.00390,-160.047697,0,0,35.395546,12,-0.370048,-97.597042,207,7,0,1,0,53.222992,53.222992,...,66,88.360123,85.496002,5000,0,43.945423,58.593899,135.0,-4.042936,18832,0,0,0,0,1,1,0,0,0,1,0,1,0,0,1
3,44,57,60.102535,23.258728,59.943958,120,95,7888,1624,7880,-0.01404,-160.047697,0,0,35.395546,12,-0.371028,-97.597042,207,7,0,1,0,53.222992,53.222992,...,67,88.298744,85.516457,5000,0,43.945423,58.593899,135.0,-4.042936,18832,0,0,0,0,1,1,0,0,0,1,0,1,0,0,1
4,44,58,60.131832,23.238266,59.964417,120,94,7888,1624,7880,-0.00234,-160.047697,0,0,35.395546,12,-0.341432,-97.597042,207,7,0,1,0,53.222992,53.222992,...,66,88.237366,85.516457,5000,0,43.945423,58.593899,135.0,-4.042936,18832,0,0,0,0,1,1,0,0,0,1,0,1,0,0,1